Django==1.9.6
django-crispy-forms==1.6.0
dj-database-url==0.4.0
dj-static==0.0.5
gunicorn==19.6.0
psycopg2==2.6.1
static==0.4
wsgiref==0.1.2
html5lib==0.999
lxml==3.5.0
pycrypto==2.6.1
pyxdg==0.25
six==1.10.0
virtualenv==15.0.1
whitenoise==3.0
