{% load staticfiles %}

<div class='row featured-row' style="margin: 30px 0px;">
  <center><h2>About Me</h2></center>
  <div class='col-sm-12'>
   
    <div class='col-sm-3'>
      <img src="{% static 'img/shiva1.png' %}" class='img-circle'  />
      

    </div>
    <div class='col-sm-3'>
      <h2>Shiv Prakash Keshri</h2>
      <p class='lead'>
      BTech-CSE-2015<br />BCE Bhagalpur
      </p>
    </div>
    <div class='col-sm-3'>
      <h2>Contact Us</h2>
      <p class='lead'>
      shivprakashkeshri@gmail.com<br />+91-7870091089
      </p>
    </div>

    <div class='col-sm-3'>
      <h2>Contact Me on Social Network</h2>
      <a href="https://www.facebook.com/siva.keshri" target="_blank">
          <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
      </a>

      <a href="https://twitter.com/SIVA_KESHRI" target="_blank">
          <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
      </a>

      <a href="https://in.linkedin.com/in/shiv-prakash-keshri-8990627b" target="_blank">
        <i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
      </a>

      <a href='https://plus.google.com/+ShivaKeshri' target="_blank">
          <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
      </a>
    </div>
    

  </div>
</div>

