{% extends "base.html" %}

{% load staticfiles %}

{% block inherit %}

  <div class="jumbotron" style='background-color: white';>
    <div class="container" style="text-align: center;">
      <h1>Java Questions</h1>
    </div>
  </div>

<div class="col-sm-8 col-sm-offset-2">

<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="caption text-center">
      
        <h3><a href="/basicjava/">Basic Java</a></h3>
        <h3><a href="/corejava/">Core Java</a></h3>
        <h3><a href="/advancedjava/">Advanced Java</a></h3>
        
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="clearfix"></div>
	


{% endblock inherit %}