<nav class="navbar navbar-inverse" style="height: 54px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/home/" class="navbar-brand">Interview Questions</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
        <li><a href="/java/">Java</a></li>
        <li><a href="/cprog/">C Program</a></li>
        <li><a href="/datastructure/">Data Structure</a></li>
        <li><a href="/dbms/">DBMS</a></li>
        <li><a href="/computernetwork/">Computer Network</a></li>
        <li><a href="/operatingsystem/">Operating System</a></li>
        <li><a href="/unix/">Unix</a></li>
        <li><a href="/comment/">Ask Question</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>